input {
    font-size: 12;
    width: 200px;
    display: inline-block;
    vertical-align: center;    
}

label {
    width: 300px;
    display: inline-block;
    position: relative;
}

select {
    font-size: 12;
    width: 200px;
    display: inline-block;
}

.checkbox {
    width:auto;
}

.ratio-words div {
    width: 120px;
}

.ratio-nums div {
    width: 60px;
}

.module-words div {
    width: 270px;
}

.module-nums div {
    width: 60px;
}

.b-words div {
    width: 300px;
}

.b-nums div {
    width: 60px;
}

.collapsible {
    outline: none;
}
.collapsibleimg {
    outline: none;
}

.content {
    display: block;
    overflow: auto;
}

.contentimg {
    display: none;
    overflow: auto;
}

img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.middle {
    width: 600px;
    margin: auto;
}